<h1>Posts</h1>
<% if current_user %>
	Welcome <%= current_user.username %>
    <%= render partial: "form" %>

<% end %>
<% @posts.each do |post| %>
	<%= post.content %> <br />
	By: <%= link_to post.user.username, "/users/#{post.user.id}"   %> Posted On: <%= post.created_at.to_formatted_s(:long) %> <br />
<% end %>